li#home a{
    color: green;
}

img#img1{
    
    /* size: contain; */
    width: 60%;
    
    /* min-width: 600px; */
    /* margin-right: 5px; */
    /* position:relative; */
    /* left: 15%; */
    /* left: 10%; */
}


div.image{
    /* height: ; */
    width: 100%;
    background-color: green;
    /* height: 700px; */
    min-height: 540px;
    min-width: 1300px;
}

img.gif{
    /* height: 500px; */
    width: 15%;
    /* margin-top: 3%; */
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 20%;
    float: left;
  
}

#gif2{
    position: relative;
    top:300px;
    right: 20%;
}

div.for_mobile{
    background-color: green;
    height: 250px;
    width: 100%;
    min-width: 300px;    
    display: none;
}

div.for_mobile div.gif{
    display: flex;
    flex-direction: column;
}

div.for_mobile div.gif img{
    width: 20%;

}

div.for_mobile img.mobile_image{
    height: 100px;
    /* margin-top: 100px; */
    margin-left: 25%;
    position:relative;
    bottom:90%;
    left: 10%;
    /* left:10%; */
    /* bottom:9%; */
}

div#why_us{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    flex-wrap: wrap;
  
}

div#why_us span{
    margin-right: 50px;
    color:white;
    background-color: green;
    display: inline-block;
    height: 40px;
    /* width: 15%; */
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

div#why_us h1{
    text-align: center;
}
img.why_us_img{
    height: 150px;
    /* margin-left: rem; */
    border-radius: 20px;
   
    margin-left: 7%;
}

 div.why_us_images{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: #d9b7b7; */
    width: 100%;
    min-width: 100px;
    /* position: relative; */
    
    /* top:20px; */
    /* left: 10%; */
     /* height: 200px; */
}
    



div.why_us_images span{
   /* position: relative;
   bottom:50px; */
   font-weight: bolder;
   font-size: larger;
   margin-top: 50px;
   padding-top: 10px;
 
   
   /* padding-left: 2%; */
}


/* For image carousel - client review  */
.slider-container {
    /* max-width: 500px; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 50%;
    /* width: fit-content; */
    /* width: 100%; */
  

  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(-100%);

  }
  
  .slider img {
    /* width: 300%; */
    height: 500px;
    width: 100%;
    /* width: max-content; */
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }


  div.client_review h1{
    text-align: center;
 
  }

  div.mobile_content{
    display: none;
  }


  div.mobile_content img{
    width: 100%;
  }







@media screen and (max-width:1500px){
  
div.why_us_images{
    width: 80%;

  
}

@media screen and (min-width:400px) {
  div.footer{
    min-width: 1300px;

  }
}




}





@media screen and (max-width:1300px){
  
    div.why_us_images{
        width: 60%;
      
    }
    }

@media screen and (max-width:1000px){

    .slider-container {
        width: 58%;
      }
    
    .slider img {
        /* width: 300%; */
        height: 300px;
        /* width: 100%; */
        /* width: max-content; */
      }
      
        }

@media screen and (max-width:850px) {
    div.client_review{
        position: relative;
        bottom:500px;
        left:500px;
      }
}

@media screen and (max-width:800px){
    
            .slider img {
                /* width: 300%; */
                height: 300px;
                width: 100%;
                /* width: max-content; */
              }

              .slider-container {
                width: 70%;
           
              
              }

            
              
                }


@media screen and (max-width:600px) {
    .slider img {
        /* width: 300%; */
        height: 400px;
        width: 100%;
        /* width: max-content; */
      }

      .slider-container {
        width: 90%;
      
      }

}


@media screen and (max-width:500px) {
    .slider img {
        /* width: 300%; */
        height: 500px;
        width: 100%;
        /* width: max-content; */
      }

      .slider-container {
        width: 100%;
      
      }

}


@media screen and (max-width:400px) {
  /* img#img1{
    
    /* size: contain; */
    /* width: 60%; */
    
    /* min-width: 600px; */
    /* margin-right: 5px; */
    /* position:relative; */
    /* left: 15%; */
    /* left: 10%; */
/* } */ 



div.mobile_content{
  display: block;
}







/*     
div.for_mobile{
    
    display: block;
} */

div.why_us_images{
   flex-direction: column;
}

div.why_us_images span{
    margin-top: 10px;
}

.slider img  {
    /* width: 300%; */
    height: 300px;
    width: 100%;
    /* width: max-content; */
  }
.slider-container {
    width: 100%;
  }

  div.client_review{
    position:static;
    margin-top: 100px;
    width: 100%;
    height: 400px;
  }

/* 
  img#img1{
    margin-top: 100px;
  } */








  

}