

div.footer{
    /* margin-top: 50%; */
}


.title{
    text-align: center;
    margin-top: 20px;
}

div.steps{
    margin-left: 34%;
    margin-top: 40px;
}
div.steps div{
    display: inline-block;
    background-color: green;
    width: 10%;
    height: 90px;
    border-radius: 60%;
    text-align: center;
    /* padding-top: 20px; */
    font-size: 80px;
    margin-left: 5%;
    color: white;

}

div.steps div#one , div.steps div#three{
    background-color: #fde5e5;
}


div.join-us img{
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* opacity: 0.9; */
 
    border-radius: 20px;
    
   }

   div.form input{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 60px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #d6eed56b;
   }

   a#resend{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    color: gray;
   }

   a#resend:hover{
    color: black;
    font-weight: bold;
   }


   div.next{
    background-color: green;
    display: inline-block;
    width: 10%;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
   }

   div.next:hover{
    background-color: rgb(3, 72, 3);
    cursor: pointer;
    padding-left: 1%;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: bolder;
}